[Desktop Entry]
Type=Application
Name=Ready4Balfolk
Comment=Music queue manager for bal folk events
Exec=Ready4Balfolk.UI
Icon=io.github.tjvl.Ready4Balfolk
Terminal=false
Categories=AudioVideo;Audio;Music;
